body{
    margin: 30px;

}
.topper{
    background-image: url(Assets/background/h_img.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 800px;
}
.img-bg-1{
    margin-left: 560px;
    margin-top:270px ;
}
.top-p1{
    color: white;
    font-size: 48px;
    text-align: center;
}
.top-p2{
    color: white;
    text-align: center; 
    font-size: 14px;
    font-weight:500
}
.img-bg-2{
    margin-left: 600px; 
    margin-bottom: -280px;
}
.about{
    text-align: center; 
    padding: 40px;
}
.services{
    background-image: url(Assets/background/s_image.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 400px;
}